@page "/login"
@using System.ComponentModel.DataAnnotations

<!-- <EditForm Model="loginModel" OnValidSubmit="HandleValidSubmit"> -->
<EditForm Model="loginModel" OnValidSubmit="HandleValidSubmit" FormName="LoginForm">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="username">ユーザー名:</label>
        <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
    </div>

    <div class="form-group">
        <label for="password">パスワード:</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
    </div>

    <button type="submit" class="btn btn-primary">ログイン</button>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();

    private void HandleValidSubmit()
    {
        // ここで認証処理を行います
    }

    public class LoginModel
    {
        [Required]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }
    }
}
